body { 

  font-family: monospace;
}
h2 {

  text-align: center;
}

.container{
  /* margin: 20px; */
  background: purple;
  border-radius: 10px;

}
.screen {

  text-align: center;
  background: rgb(196, 177, 177);
  color: black;
  border: 2px solid rgb(61, 59, 59);
  border-radius: 5px;
  padding: 10px;
  font-family: papyrus;
}
.numberpad {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:20px;
}

.numbutton, .opbutton {
  background: rgb(228, 244, 228);
  color: black;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
.operators {
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 15px;
  border-radius: 10px;

}
.operators button{
  background-color: rgb(62, 0, 128);
  color: white;
}