body { 
  background: rgb(72, 6, 126);
  background: rgb(24, 1, 43);
  font-family: monospace;
  margin: 0;
  margin-top: 30px;


}
h2 {
  color: white;
  text-align: center;
}

.container{
  /* margin: 20px; */
  width: 460px;
  margin: 0 auto;
  background: rgb(87, 4, 176);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 2px 10px 0px rgb(245, 233, 252);

}
.screen {
  text-align: center;
  background: rgb(196, 177, 177);

  border: 2px solid rgb(93, 91, 91);
  border-radius: 5px;
  padding: 10px;
  /* font-family: papyrus;
  font-family: 'Rubik Pixels', cursive; */
  font-family: 'Orbitron', sans-serif;
  font-size: 42px;
  color: black;
}
.numberpad {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 15px;
}
.numbutton {
  width: 60px;
  margin: 10px;
  font-family: 'Orbitron', sans-serif;
}

.numbutton, .opbutton {
  background: rgb(228, 244, 228);
  color: black;
  padding: 15px;
  text-align: center;
  border-radius: 20px;

}
.opbutton {
  margin: 5px;
}
.numbutton:hover {
  background: rgb(201, 221, 201);
  padding: 16px;
  cursor: pointer;
}
.operators {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  background: rgb(168, 151, 183);
  margin-bottom: 10px;

}
.operators button{
  background-color: rgb(137, 28, 253);
  color: white;
  margin-bottom: 10px;
  font-family: 'Orbitron', sans-serif;
}

.operators button:hover{
  background-color: rgb(108, 29, 191);
  padding: 16px;
  cursor: pointer;

}
.credit{
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: white;
}
.credit a{
  color: white;
}

#clear {
  background: rgb(243, 123, 11);
  margin-top: 15px;
  color: rgb(244, 206, 169);
  cursor: pointer;
}